<div class="row">
  <div class="col-md-6 col-md-offset-3">
    
    <%= form_with model: @visitor, local: true do |form| %>
      <%= render 'layouts/error_messages', object: form.object %>
    
      <%= form.label 'First Name' %>
      <%= form.text_field :fname, class: 'form-control' %>
    
      <%= form.label 'Last Name' %>
      <%= form.text_field :lname, class: 'form-control' %>
    
      <%= form.label :phone %>
      <%= form.text_field :phone, class: 'form-control' %>
      
      <%= form.label 'Email Address' %>
      <%= form.text_field :email, class: 'form-control' %>
      <br>
    
      <div class="field">
          <%= form.label 'I am interested in:', class: 'control-label' %><br />
          <%= form.select :interest, options_for_select([["",'None'],['Web application','Development'],['Website','Design'],['Free consultation','Consultation']
    ]) %>
      </div><!-- field -->
      <br>
      <%= form.submit 'Submit', id: "button" %>
    
    <% end %><!-- form_with -->
    
  </div><!-- col-md6-3 -->
</div><!-- row -->