<%= stylesheet_link_tag 'site' %><!--use site.scss to style this view-->
<!DOCTYPE html>
<html>
  <head>
    <meta name=”viewport” content=”width=device-width, initial-scale=1">
    <title><%= full_title(yield(:title)) %></title><!-- from application_helper.rb -->
    <%= render 'layouts/site_default' %>
    <%= render 'layouts/shim' %><!-- for IE - compatibility -->
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="home-container">
      <%= yield %>
    </div><!-- home-container -->
    <%= render 'layouts/footer' %><!--debug window-->
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>